#design {
}
#design:hover {
  cursor: pointer;
}
#design:hover {
  cursor: pointer;
}
#design:hover .design-cls-1 {
  fill: #db8e53 !important;
  cursor: pointer !important;
}
#design:hover .design-cls-2 {
  fill: #db8e53 !important;
  cursor: pointer !important;
}
#design:hover .design-cls-3 {
  fill: #db8e53 !important;
  stroke: #db8e53 !important;
  cursor: pointer !important;
}
#design:hover .design-stroke {
  stroke: #db8e53 !important;
}
#design:hover .design-fill {
  fill: #db8e53 !important;
}
.cardlp {
  display: flex;

  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  transition: box-shadow 300ms ease-in-out;
}

  .cardlp:hover {
    box-shadow: rgba(0, 0, 0, 0.18) 5px 6px 12px 0;
  }